/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
/* Sections style */

.form{
display: flex;
justify-content: center;
margin-top: 36px;
margin-bottom: 32px;
gap: 8px;
}
.input{
box-sizing: border-box;
border-radius: 4px;
width: 272px;
height: 40px;
padding: 8px 16px;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #808080;
border: 1px solid #808080;
border-radius: 4px;
transition: border 250ms ease-in-out;
}
.input:hover{
border: #000000 1px solid;
}
.input:focus{
border: #4E75FF 1px solid;
outline: none;
color: #2E2F42;
}
.submit-btn{
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border-radius: 8px;
padding: 8px 16px;
width: 91px;
height: 40px;
background-color: #4E75FF;
border: none;
transition: background-color 250ms ease-in-out;
}
.submit-btn:hover{
background-color: #6c8cff;
}
.gallery{
display: flex;
width: 1128px;
flex-wrap: wrap;
gap: 24px;
padding: 0px 156px 32px;
}
.gallery-item{
width: 360px;
height: 200px;
position: relative;
}
.gallery-image{
width: 360px;
height: 200px;
object-fit: cover;
border: 1px solid #808080;
box-sizing: border-box;
}
.info{
display: flex;
justify-content: space-evenly;
align-items: center;
border-bottom: 1px solid #808080;
border-left: 1px solid #808080;
border-right: 1px solid #808080;
width: 360px;
height: 48px;
position: absolute;
bottom: 0px;
left: 0px;
background-color: #fff;
box-sizing: border-box;
}
.info-item{
display: flex;
flex-direction: column;
align-items: center;
}
.info-name{
font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 12px;
line-height: 1.33333;
letter-spacing: 0.04em;
color: #2e2f42;
}
.info-value{
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #2e2f42;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  border: 5px solid #ccc;
  border-top-color: #1d72b8;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 9999;
}

.hidden {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
